body{
 
    background-color: dimgrey;
   
}

.page{
    width: 900px;
    align-content: center;
    padding: 40px;
    border: 5px solid #3388CC;
    border-radius: 10px;
    box-shadow: 2px 4px 3px red;
    background-color: black;
    color: blue;
    margin: auto;
    font-size: 16px;
    
}
infophoto{
    
    height: 250px;
    
    
}

info{
    
    text-decoration: underline;
    float: right;
    
}

photo{
    
    float: right;
}

h1{
    Color: red;
    
}

h2 {
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px;
}
h3 {
    
    color: blue;
}

.section{
    margin-bottom: 70px;

}
.sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;

}

.sec-droite{
    margin-left: 150px;
}

duree{
    
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}



strong{
    font-size: 26px;
}
.section{
    margin-bottom: 70px;
    text-align: justify;
}

.section:hover{
    color : red;
}

titre{
  color: crimson;  
}

#forma-gauche p {
    margin bottom: 37px;
    margin-top: 32px;
}

.sec-droite{
    margin-left: 150px;
    margin-top: 37px;
    
}
#2018 div{
    
}